<div>
    <span>在directive中创建隔离scope</span>
    <h2>父scope</h2>
    <span ng-bind="user.id"></span>
    <span ng-bind="user.name"></span>
    <br />
    <h2>子scope(隔离scope)</h2>
    <div createisolatescopeindirective="">

    </div>
</div>
