@{
    Layout = null;
}
<h3>{{title}}</h3>
<hr />
<form novalidate name="EditForm">
    <strong class="error">{{ErrorMessage}}</strong>
    <input type="hidden" id="employeeId" ng-model="Employee.EmployeeId" />
    <div class="form-group">
        <label for="firstname">
            First Name
        </label>
        <input type="text" class="form-control" ng-model="Employee.FirstName" required name="firstname" ng-maxlength="3" />
        <span style="color:red;" ng-show="EditForm.firstname.$dirty && EditForm.firstname.$invalid">
            <span ng-show="EditForm.firstname.$error.required && EditForm.firstname.$touched">First Name is required!</span>
            <span ng-show="EditForm.firstname.$error.maxlength && EditForm.firstname.$touched">
                First Name length must less than or equals 3
            </span>
        </span>
    </div>

    <div class="form-group">
        <label for="lastname">
            Last Name:
        </label>
        <input type="text" class="form-control" name="lastname" ng-model="Employee.LastName" required ng-maxlength="10"/>
        <span style="color:red;" ng-show="EditForm.lastname.$dirty && EditForm.lastname.$invalid">
            <span ng-show="EditForm.lastname.$error.required && EditForm.lastname.$touched">First Name is required!</span>
            <span ng-show="EditForm.lastname.$error.maxlength && EditForm.lastname.$touched">
                First Name length must less than or equals 10
            </span>
        </span>
    </div>

    <div class="form-group">
        <label for="province">
            Province:
        </label>
        <select class="form-control" name="province" ng-model="Employee.Province" ng-options="c.Value as c.Text for c in provinces" ng-change="Cities()">
            <option value="">-- Select Province --</option>
        </select>
    </div>

    <div class="form-group">
        <label for="city">
            City:
        </label>
        <select class="form-control" name="city" ng-model="Employee.City" ng-disabled="!province2cities" ng-options="s.Value as s.Text for s in province2cities" ng-change="Towns()">
            <option value="">-- Select City --</option>
        </select>
    </div>

    <div class="form-group">
        <label for="state">
            Town:
        </label>
        <select class="form-control" name="town" ng-model="Employee.Town" ng-disabled="!city2towns" ng-options="s.Value as s.Text for s in city2towns">
            <option value="">-- Select Town --</option>
        </select>
    </div>

    <div class="form-group">
        <label for="BirthDate">
            Date of Birth:
        </label>
        <input type="date" class="form-control" ng-model="Employee.BirthDate" name="birthdate" required/>
        <span style="color:red;" ng-show="EditForm.birthdate.$dirty && EditForm.birthdate.$invalid">
            <span ng-show="EditForm.birthdate.$error.required && EditForm.birthdate.$touched">Birth Date is required!</span>
        </span>
    </div>

    <div class="form-group">
        <label for="address">
            Address:
        </label>
        <input type="text" class="form-control" ng-model="Employee.Address" name="address" />
    </div>

    <div class="form-group">
        <label for="description">
            Description:
        </label>
        <textarea rows="5" cols="10" class="form-control" name="description" ng-model="Employee.Description"></textarea>
    </div>

    <div class="form-group checkbox">
        <label>
            <input type="checkbox" ng-model="Employee.IsActive" />Active
        </label>
    </div>

    <a ng-href="#/List" class="btn btn-info">Back to List</a>

    <button class="btn btn-primary" ng-click="reset()">
        Reset
    </button>
    <button class="btn btn-default" ng-click="save()" 
            ng-disabled="EditForm.$invalid">
        Submit
    </button>
    <p>
        <pre>form={{Employee | json}}</pre>
        <pre>copy={{copy | json}}</pre>
    </p>
</form>