<!DOCTYPE html>
<html ng-app="MyAngular">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/Project/Landing/Landing.js"></script>
    <script src="~/Scripts/Project/controllers/MyAngularController.js"></script>
    <script src="~/Scripts/Project/directives/MyAngularDirective.js"></script>
    <script src="~/Scripts/Project/services/MyAngularService.js"></script>
</head>
<body>
    <div class="container" ng-view>
    </div>
</body>
</html>
