@{
    Layout = null;
}
<div ng-controller="IsolateScopeController">
    <h2>隔离scope</h2>
    <span>父scope</span>
    <span ng-bind="name"></span> <br />
    <span>子scope</span>

    <isolatedirective></isolatedirective>
</div>