
<div ng-controller="PartialScope2Ctrl">
    <div>
        父scope：
        <div>Say：{{user.name}}<br>改变父scope的name：<input type="text" value="" ng-model="user.name" /></div>
    </div>
    <div>
        隔离scope：
        <div partialscopedirective2 user="user"></div>
    </div>
    <div>
        隔离scope（使用{{name}}）：
        <div partialscopedirective2 user="{{user}}"></div>
    </div>
</div>