
<div ng-controller="PartialScope3Ctrl" class="result">
    <div>
        父scope：
        <div>Say：{{value}}</div>
    </div>
    <div>
        隔离scope：
        <div partialscopedirective3 action="click()"></div>
    </div>
</div>