@{
    Layout = null;
}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                compare directive params(controller, link and compile)
            </div>
        </div>
        <div class="panel-body">
            <div ng-controller="compareCtrl" class="col-md-12">
                <compare></compare>
            </div>
        </div>
    </div>


