<!doctype html>
<html ng-app="MyAngular">
<head>
    <meta charset="utf-8">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/Project/services/MyAngularService.js"></script>
    <script src="~/Scripts/Project/Landing/Landing.js"></script>
    <script src="~/Scripts/Project/directives/MyAngularDirective.js"></script>
    <script src="~/Scripts/Project/controllers/MyAngularController.js"></script>
</head>
<body>
    <div>weqwewq<qwqq><div>QWEWQEQWEQWEQ</div></qwqq></div>
</body>
</html>