@{
    Layout = null;
}
<!doctype html>
<html ng-app="MyAngular">
<head>
    <meta charset="utf-8">
</head>
<body>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                Angular JS Demo
            </div>
        </div>
        <div class="panel-body" ng-controller="filtercontroller">
            <div data-ng-init="name='Hello Xu xiaoqin'">
                <span data-ng-bind="name"></span>
            </div>
            <div class="col-md-10" data-ng-init="quantity=1;cost=3;firstname='Xu';lastname='Xiaoqin';infoes=[1,2,3,4]">
                <p>
                    表达式:{{ 5 + 5}}
                </p>
                <p>
                    Price:{{quantity * cost}}
                </p>
                <p>
                    全称:{{firstname + " " + lastname}}
                </p>
                <p>
                    序列:
                    <span ng-repeat="iten in [0,1,2,3]">
                        {{infoes[iten]}}
                    </span>
                </p>
                <p>
                    <label>filter number</label>
                    <span ng-bind="count | number: 10">

                    </span>
                    <br />
                    <label>filter currency</label>
                    <span ng-bind="amount | currency:'RMB ￥'">

                    </span>
                    <br />
                    <label>filter date</label>
                    <span ng-bind="currentdate | date: 'yyyy-MM-dd HH:mm:ss Z'">

                    </span>
                    <span ng-bind="currentdate | date: 'medium'">

                    </span>
                </p>

                <label>filter </label>
                <div ng-init="friends = [{name:'John', phone:'555-1276'},
                         {name:'Mary', phone:'800-BIG-MARY'},
                         {name:'Mike', phone:'555-4321'},
                         {name:'Adam', phone:'555-5678'},
                         {name:'Julie', phone:'555-8765'},
                         {name:'1111', phone:'555-5678'}]"></div>

                Search: <input ng-model="searchText">
                <table id="searchTextResults">
                    <tr><th>Name</th><th>Phone</th></tr>
                    <tr ng-repeat="friend in friends | filter:searchText">
                        <td>{{friend.name}}</td>
                        <td>{{friend.phone}}</td>
                    </tr>
                </table>
                <hr>
                Any: <input ng-model="search.$"><br>
                Name only: <input ng-model="search.name"><br>
                Phone only: <input ng-model="search.phone"><br>
                Equality: <input type="checkbox" ng-model="strict"><br>
                <table id="searchObjResults">
                    <tr><th>Name</th><th>Phone</th></tr>
                    <tr ng-repeat="friendObj in friends | filter:search:strict">
                        <td>{{friendObj.name}}</td>
                        <td>{{friendObj.phone}}</td>
                    </tr>
                </table>

                <br />
                <label>filter json (spacing空格)</label>
                <pre id="default-spacing">{{ {'name':'value'} | json }}</pre>
                <pre id="custom-spacing">{{ {'name':'value'} | json:4 }}</pre>

                <br />

                <label>filter LimitTo && uppercase && lowercase:</label>

                <div ng-controller="limitToExampleController">
                    Limit {{numbers}} to: <input type="number" step="1" ng-model="numLimit">
                    <p>Output numbers: {{ numbers | limitTo:numLimit }}</p>
                    Limit {{letters}} to: <input type="number" step="1" ng-model="letterLimit">
                    <p>Output letters: {{ letters | limitTo:letterLimit | uppercase }}</p>
                    Limit {{longNumber}} to: <input type="number" step="1" ng-model="longNumberLimit">
                    <p>Output long number: {{ longNumber | limitTo:longNumberLimit }}</p>
                </div>

                <br />
                <label>filter orderby(reverse = false [ASC] | true [DESC])</label>
                <div ng-controller="orderByExampleController">
                    <pre>Sorting predicate = {{predicate}}; reverse = {{reverse}}</pre>
                    [ <a href="" ng-click="predicate=''">unsorted</a> ]
                    <table class="table table-responsive">
                        <tr>
                            <th>
                                <a ng-click="predicate = 'name'; reverse=false">Name</a>
                                (<a ng-click="predicate = '-name'; reverse=false">DESC</a>)
                            </th>
                            <th>
                                <a ng-click="predicate = 'name'; reverse=!reverse">name</a>
                            </th>
                            <th><a ng-click="predicate = 'phone'; reverse=!reverse">Phone Number</a></th>
                            <th><a ng-click="predicate = 'age'; reverse=!reverse">Age</a></th>
                        </tr>
                        <tr ng-repeat="friend in friends | orderBy:predicate:reverse">
                            <td>{{friend.name}}</td>
                            <td>{{friend.name}}</td>
                            <td>{{friend.phone}}</td>
                            <td>{{friend.age}}</td>
                        </tr>
                    </table>
                </div>
                <br />
                <label>select</label>
                <div ng-controller="selectExampleController">
                    <ul>
                        <li ng-repeat="color in colors">
                            Name: <input ng-model="color.name">
                            [<a ng-click="colors.splice($index, 1)">X</a>]
                        </li>
                        <li>
                            [<a ng-click="colors.push({})">add</a>]
                        </li>
                    </ul>
                    <hr />
                    Color (null not allowed):
                    <select ng-model="myColor" ng-options="color.id as color.name for color in colors"></select><br>

                    Color (null allowed):
                    <span class="nullable">
                        <select ng-model="myColor" ng-options="color.id as color.name for color in colors">
                            <option value="">-- choose color --</option>
                        </select>
                    </span><br />

                    Color grouped by shade:
                    <select ng-model="myColor" ng-options="color.id as color.name group by color.shade for color in colors"></select><br />


                    Select <a ng-click="myColor = { name:'not in list', shade: 'other' }">bogus</a>.<br>
                    <hr />
                    Currently selected: {{ {selected_color:myColor} }}
                    <div style="border:solid 1px black; height:20px"
                         ng-style="{'background-color':myColor.name}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/Scripts/Project/services/MyAngularService.js"></script>
<script src="~/Scripts/Project/Landing/Landing.js"></script>
<script src="~/Scripts/Project/directives/MyAngularDirective.js"></script>
<script src="~/Scripts/Project/controllers/MyAngularController.js"></script>
</html>
